<mat-toolbar>
  <span>6 BEST INDOOR PLANTS FOR YOUR HOME</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>shopping_cart</mat-icon>
 </button>
</mat-toolbar>

<div class="cards">

  <div class="cards-row-1">
    <mat-card class="snakeplant">
      <mat-card-header>
        <mat-card-title>SNAKEPLANT</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../assets/images/snakeplant.JPG" alt="Photo of Snakeplant">
      <mat-card-content>
        <p>
          Besides looking cool, it's a low-maintenance plant that's known for surviving droughts, making it perfect for
          newbies living in almost any environment. "Although the snake plant prefers bright light, it can survive lower
          light levels," she adds.
        </p>
      </mat-card-content>
      <div class="button-row">
        <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>

        <button mat-button>Add to Cart <mat-icon>shopping_cart</mat-icon></button>
      </div>
    </mat-card>

    <mat-card class="monstera">
      <mat-card-header>
        <mat-card-title>MONSTERA</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../assets/images/monstera.JPG" alt="Photo of Monstera">
      <mat-card-content>
        <p>
          In general, large-leafed philodendron plants, including the monstera deliciosa, were shown to be one of the
          most effective at reducing air pollutants, like benzene, trichloroethylene, and formaldehyde, according to a
          NASA study.
        </p>
      </mat-card-content>
      <div class="button-row">
        <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>

        <button mat-button>Add to Cart <mat-icon>shopping_cart</mat-icon></button>
      </div>
    </mat-card>

    <mat-card class="pothos">
      <mat-card-header>
        <mat-card-title>POTHOS</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../assets/images/pothos.JPG" alt="Photo of Pothos">
      <mat-card-content>
        <p>
          Sometimes referred to as the 'cubicle plant,' the pothos is a great pick if you're a self-proclaimed 'black
          thumb,' says Marino. And while this plant starts out small, its trailing vines can grow to over 10 feet long
          (WOW), even indoors where lower light and dry air make conditions less than ideal.
        </p>
      </mat-card-content>
      <div class="button-row">
        <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>

        <button mat-button>Add to Cart <mat-icon>shopping_cart</mat-icon></button>
      </div>
    </mat-card>
  </div>

  <div class="cards-row-2">
    <mat-card class="dracaena">
      <mat-card-header>
        <mat-card-title>DRACAENA</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../assets/images/dracaena.JPG" alt="Photo of Dracaena">
      <mat-card-content>
        <p>
          The Dracaena is great, she explains, because it can easily adapt to different light environments, though it's
          best to keep it away from direct sun.
        </p>
      </mat-card-content>
      <div class="button-row">
        <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>

        <button mat-button>Add to Cart <mat-icon>shopping_cart</mat-icon></button>
      </div>
    </mat-card>

    <mat-card class="zzplant">
      <mat-card-header>
        <mat-card-title>ZZ PLANT</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../assets/images/zzplant.JPG" alt="Photo of ZZ Plant">
      <mat-card-content>
        <p>
          If you live in a lower light environment, Marino and Horton suggest getting a ZZ Plant because they're drought
          tolerant and incredibly low maintenance. You might notice the ZZ has large potato-like rhizomes (a.k.a.
          horizontal stems that continuously grow) under the surface of its surrounding potting mix.
        </p>
      </mat-card-content>
      <div class="button-row">
        <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>

        <button mat-button>Add to Cart <mat-icon>shopping_cart</mat-icon></button>
      </div>
    </mat-card>

    <mat-card class="spiderplant">
      <mat-card-header>
        <mat-card-title>SPIDER PLANT</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../assets/images/spider.JPG" alt="Photo of Spider Plant">
      <mat-card-content>
        <p>
          Plants that give off "instant jungle vibes," like the spider plant, are having a serious moment right now,
          according to Marino. And they're super easy to care for, says Vassilkioti. These plants need bright light, but
          no direct sun, so they're perfect to put in a room with big windows. Just keep it away from the windowsill.
        </p>
      </mat-card-content>
      <div class="button-row">
        <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>

        <button mat-button>Add to Cart <mat-icon>shopping_cart</mat-icon></button>
      </div>
    </mat-card>
  </div>
</div>