
mat-toolbar {
    background-color: #0f7446;
    font-weight: bold;
    color: white;
}

.example-spacer {
    flex: 1 1 auto;
  }

.cards {
    padding: 4px 4px;
    background-color:#fdfdfd;
}


.cards-row-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards-row-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

mat-card-title {
    color: #199E62;
    font-weight: bold;
}

mat-card-content {
    font-weight: bold;
}

.snakeplant,
.monstera,
.pothos,
.dracaena,
.zzplant,
.spiderplant {
    max-width: 400px;
    background-color: white;
    border: 0.2px solid #f5f5f5;
}

.snakeplant img,
.monstera img,
.pothos img,
.dracaena img,
.zzplant img,
.spiderplant img {
    object-fit: cover;
}

.button-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
